.auth {
  &-page {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1.1rem 0;
  }
  &-form {
    box-sizing: border-box;
    width: 400px;
    padding: 2rem;
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    &__title {
      text-align: center;
      font-size: 1.3em;
      margin: 0;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #9e9e9e
    }
    &__wrapper {
      padding-bottom: 0.5rem;
      &.wrap-button {
        padding: 1rem 0;
      }
      &.wrap-redirect {
        padding-bottom: 0;
        padding-top: 2.5rem;
        font-size: 0.9em;        
      }
    }
    &__field-name {
      display: block;
      font-size: 0.9em;
      color: #757575;
      padding-bottom: 0.1rem;
    }
    &__field {
      box-sizing: border-box;
      width: 100%;
      padding: 0.3rem 0.4rem;
      &.error {
        outline: 1px solid rgb(252, 16, 16);        
        border: 1px solid #ddd;
        outline-offset: -1px;
        &:focus {
          outline-offset: 0px;
        }
      }
    }
    &__button {
      width: 100%;
      font-size: 1em;
      line-height: 1.2em;
      margin-left: 0 !important; 
      &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
        &:hover {
          background-color: #08909c;
        }
      }
    }    
    &__redirect {          
      &-quetion {
        display: inline-block;
        margin-right: 0.5rem;
      }
      &-link {
        color: #0277bd;
        &:hover {
          text-decoration: none;
        }
      }
    }
  } 
  &-text {
    &__error {
      display: inline-block;
      color: rgb(252, 16, 16);
      font-size: 0.9em;
      line-height: 0.9em;
      .fa-exclamation-circle {
        font-size: 0.9em;
        display: inline-block;
        margin-right: 5px;
      }
    }
  }
}