@import '../../styles/vars';

.main-cart {
  margin-top: 2.5rem;
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;
  border-spacing: 0;
  &__empty {
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
  th, td {
    padding: 0 0.5rem;
  }

  tbody  {
    tr {
      border-bottom: 1px solid #aaa;
      &:nth-child(2n) {
        background: #ebf3f9;
      }
    }    
  }

  &__header {    
    font-size: 1.1em;   
    th { 
      font-weight: 600;
      padding-bottom: 0.5rem;
      &:first-of-type, &.desc {
        text-align: left;
      }
      &:first-of-type {
        padding-left: 0;
      }
    }
  }

  &__footer {
    font-size: 1.1em;
    font-weight: 600;
    td {
      padding-top: 0.5rem;
      text-align: center;
    }
    &-title {
      text-align: right !important;
      padding-right: 0.5rem;
    }
  }
  
  &__item {
  
    * {
      box-sizing: border-box;
    }

    &-img {
      padding: 0 !important;
      width: 4.5rem;
      overflow: hidden;
      img {
        vertical-align: middle;
        object-fit: cover;
      }
    }

    &-desc {    
      padding: 0 1rem;
      .product-title {
        font-weight: 600;
        display: inline-block;
        padding-right: 0.5rem;
      }
    }
    &-price {
      width: 5rem;
      text-align: center;
      font-size: 1.1em;
    }
    &-count {
      padding: 0 0.5rem;
      width: 6rem;
      text-align: center;
      font-size: 1.1em;
      .add, .subtract {
        transition: color 0.2s;
        &:hover {
          color: $mainColor;
        }
      }
    }  

    &-total, &-summ, &-remove {
      font-size: 1.1em;
    }

    &-summ {
      width: 5.5rem;
      text-align: center;
    }

    &-remove {
      width: 2rem;
      text-align: center;
      .remove-button {
        display: inline-block;
        cursor: pointer;
        transition: color 0.2s;
        padding: 0.3rem;
        &:hover {
          color: #fb0000;
        }
      }
    } 
  }
  &__wrap-count {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .add, .subtract {
      text-align: center;
      padding: 0 0.3rem;  
      cursor: pointer;      
    }
  }
}

.wrap-button {
  padding-top: 1.5rem;
  text-align: right;
  .button:last-of-type {
    margin-left: 1rem;
  }
}

.product-property {
  display: inline-block;
  white-space: pre;
  &:not(:last-of-type) {    
    padding: 0 0.5rem;
  }
}
