.notification {
	position: relative;
  box-sizing: border-box;
	overflow: hidden;
  width: 300px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 0 10px #999;
  background-color: #fff;  
  margin: 0 0 6px;
  margin-bottom: 15px; 
  opacity: 0;	
  max-height: 0;
  &.success {
    color: rgb(0, 102, 68);
    background-color: rgb(227, 252, 239);
  } 
  &.error {
    color: rgb(191, 38, 0);
    background-color: rgb(255, 235, 230);
  } 
  &-container {  
    font-size: 14px;
    box-sizing: border-box;
    position: fixed;
    box-sizing: border-box;
    &.top-right {
      top: 12px;
      right: 12px;
    }
    &.bottom-right {
      bottom: 12px;
      right: 12px;
    }
    &.top-left {
      top: 12px;
      left: 12px;
    }
    &.bottom-left {
      bottom: 12px;
      left: 12px;
    }
    &.top-bottom-center {
      top: 12px;
      left: 50%;
      transform: translateX(-50%);
    }
    &.top-bottom-right {
      top: 12px;
      right: 12px;
    }    
  }
  &-title {
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    margin: 0;
    margin-bottom: 6px;
  }
  &-message {
    margin: 0;
    text-align: left;
  }
  &-image {
    margin-right: 15px;  
    font-size: 20px;  
    .fa-info-circle {
      color: rgb(76, 154, 255);
    }
  }
  &-button {
    position: absolute;
    right: 15px;
    top: 8px;
    transform: translateX(50%);
    line-height: 1em;
    font-size: 16px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    box-shadow: 0 0 12px #fff;
  }
  &.top-right, &.bottom-right {
    max-height: 3000px;
    animation: toast-in-right 1 ease-in-out;
  }
  &.top-left, &.bottom-left {
    max-height: 3000px;
    animation: toast-in-left 1 ease-in-out;
  }
  &.top-bottom-center {
    animation: toast-in-bottom 1 ease-in-out, toast-grove 1 linear;
  }
  &.top-bottom-right {
    animation: toast-in-bottom 1 ease-in-out, toast-grove 1 linear;
  }
}

.toast {
  width: 365px;
	padding: 20px 30px 20px 20px;
}


@keyframes toast-in-right {
  from {opacity: 0.2; transform: translateX(100%); 
    z-index: 999999;}
  10% {opacity: 1; transform: translateX(0);}
  90% {opacity: 1; transform: translateX(0);}
  to {opacity: 0; transform: translateX(100%); z-index: 0;}
}

@keyframes toast-in-bottom {
  from {opacity: 0.2; transform: translateY(-100%);}
  5% {opacity: 1; transform: translateY(0);}
  90% {opacity: 1; transform: translateY(0);}
  to {opacity: 0; transform: translateY(100%);}
}

@keyframes toast-grove {
  from {
    max-height: 0;
  } 
  to {
    max-height: 3000px;
  }
}

@keyframes toast-in-left {
	from {opacity: 0.2; transform: translateX(-100%);}
  10% {opacity: 1; transform: translateX(0);}
  90% {opacity: 1; transform: translateX(0);}
  to {opacity: 0; transform: translateX(-100%);}
}