@import '../../styles/vars';

.cart {
	@extend %flex-jsb-ac;
	color: $textColor;
	font-size: 0.9em;
	text-decoration: none;
	&:hover &__text,
	&:hover &__count,
	&:hover &__summ {
		text-decoration: underline;
	}
	&__wrapper {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		margin-left: 1.5rem;
	}
	&__count, &__summ {
		color: $mainColor;
		font-weight: 600;
	}
}
