@import '../../styles/vars';

.cart {
	@extend %flex-jsb-ac;
	color: $textColor;
	font-size: 1.1em;
	text-decoration: none;
	&:hover &__text,
	&:hover &__summ {
		text-decoration: underline;
	}
	&__text,
	&__summ {
		font-size: 15px;
		margin-left: 0.7rem;
	}
	&__wrapper {
		position: relative;
	}
	&__count {
		display: inline-block;
		position: absolute;
		font-size: 14px;
		font-weight: 600;
		color: $mainColor;
		top: -1rem;
		left: -0.2rem;
	}
	&__summ {
		font-size: 14px;
		color: $mainColor;
		font-weight: 600;
	}
}
