.auth {
  &-form {
    &__wrapper {
      &.remember {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
      }
    }    
    &__forgot-password {
      font-size: 0.9rem;
      display: block;
      text-align: right;
      padding-top: 0.2rem;
      color: #0277bd;
      &:hover {
        text-decoration: none;
      }
    }
    &__remember {
      margin-right: 0.3rem;
      &-name {
        line-height: 1.2em;
      }
    }
  }  
}