.modal {
  &-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    box-sizing: border-box;
    padding: 0 2rem;
    background-color: rgba($color: #2e2a2a, $alpha: 0.5);
    overflow: auto;
  }
  &-container {
    min-width: 300px;
    max-width: 500px;   
    height: auto;
    background-color: #fff;
    box-sizing: border-box;
    padding: 2.5rem 2rem;
    position: absolute; 
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    word-break: break-all;
    margin: 2rem 0;
  }
  &-close {
    position: absolute;
    padding: 0.2rem;
    top: 15px;
    right: 15px;
    transform: translate(50%,-50%);
    transition: color 0.3s;
    cursor: pointer;
    &:hover {
      color: #fb0000;
    }
  }
}
