.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	&__item {
		box-sizing: border-box;
		padding-top: 1rem;
		flex-basis: calc(100% / 4);
		padding-right: 1rem;
	}
}

.footer {
	margin-top: 3rem;
	color: #bdbdbd;
	background: url(./img/footer.jpg) no-repeat fixed 50% 100% #ffffff;
	&-top {
		padding: 1rem 0 2rem 0;
		background-color: rgba(64, 64, 64, 0.8);
		&__title {
			color: #fff;
			padding-bottom: 0.5rem;
		}
		&__desc {
			font-size: 0.8em;
			line-height: 1em;
			padding-bottom: 0.5rem;
		}
		&__img {
			display: block;
			padding: 0.1rem 0;
			background-color: #fff;
			img {
				display: block;
				max-width: 100%;
			}
		}
		.flex-container {
			&__item {
				text-align: left !important;
			}
		}
	}
	&-copyright {
		background-color: rgba(32, 32, 32, 0.8);
		padding-bottom: 2rem;
		font-size: 0.8em;
		&__line {
			height: 1px;
			background-color: #fff;
			margin-bottom: 2rem;
		}
		&__name {
			padding: 5px 0;
			line-height: 1em;
			font-size: 1.1em;
			font-weight: 300;
			color: #fff;
		}
		&__data {
			font-size: 0.9em;
		}
		&__item {
			max-width: 1200px;
		}
	}
	&-contact {
		padding: 2rem 0;
		background-color: rgba(32, 32, 32, 0.8);
		&__title {
			text-align: center;
			margin: 0;
			padding-bottom: 0.5rem;
			color: #fff;
		}
		&__item {
			font-size: 0.85em;
			&-title {
				font-size: 0.9em;
				color: #fff;
				padding-bottom: 0.3rem;
			}
		}
	}
	&-nav {
		list-style: none;
		margin: 0;
		padding: 0;
		&__item {
			position: relative;
			padding-left: 1rem;
			padding-bottom: 0.3rem;
			&::before {
				position: absolute;
				content: '';
				top: 50%;
				left: 0;
				border: 4px solid transparent;
				border-left: 6px solid #fff;
				transform: translateY(-50%);
			}
			a {
				color: #fff;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&-pay {
		padding-right: 2rem;
		a {
			display: inline-block;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media (max-width: 950px) {
	.flex-container {
		&__item {
			text-align: center;
			flex-basis: 50%;
		}
	}
}

@media (max-width: 580px) {
	.flex-container {
		&__item {
			flex-basis: 100%;
		}
	}
}
