@import '../../styles/vars';

.wrap-actions__button {
  .button {   
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
    &.inactive {
      background-color: $textColor;
      &:hover {
        background-color: #5a5a5a;
      }
    }
  }
  
}

.form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: auto;
  &-title {
    font-size: 1.2em;
    margin: 1.5rem 0 1rem 0;
    line-height: 1em;
  }
  &-label {
    display: block;
    padding-bottom: 0.3rem;
    font-size: 0.9em;
  }
  &-field {
    box-sizing: border-box;
    display: inline-block;
    width: 300px;
    margin-bottom: 0.5rem;
    font-size: 0.9em;
    padding: 0.2rem 0.3rem;
  }
  
}

.button {
  margin-top: 0.7rem;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    &:hover {
      background-color: #08909c;
    }
  }
}

.admin-page {
  &__nav, &__nav-link {
    display: flex;
    align-items: center;    
  }
  &__nav {
    margin-bottom: 2rem;
    &-link {
      color: inherit;
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
      &.active {
        color: $mainColor;
      }     
    }
    &-img {
      margin-right: 0.5rem;
    }
  }
}