@import '../../styles/vars';

.wrap-actions__button {
  &.recommendations {
    padding-bottom: 1rem;
  }
  .button {   
    &:not(:last-of-type) {
      margin-right: 1rem;
    }
    &.inactive {
      background-color: $textColor;
      &:hover {
        background-color: #5a5a5a;
      }
    }
  }
  
}

.button {
  margin-top: 0.7rem;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
    &:hover {
      background-color: #08909c;
    }
  }
}

.admin-page {
  &__nav, &__nav-link {
    display: flex;
    flex-flow: row wrap;
    align-items: center;    
    padding-bottom: 0.5rem;
  }
  &__nav {
    margin-bottom: 1rem;
    &-link {
      color: inherit;
      &:not(:last-of-type) {
        margin-right: 1rem;
      }
      &.active {
        color: $mainColor;
      }     
    }
    &-img {
      margin-right: 0.5rem;
    }
  }
}