@import '../../styles/vars';

$b: 14px;


.slick-categories__list {
  margin-right: -15px;

  .slick-track {
    margin: 0
  }

  .slick-prev,
  .slick-next {
    top: 8.75rem;
    width: 35px;
    height: 35px;
    background-color: #ffff;
    // border-radius: 50%;
    opacity: 0.85;
    transition: opacity 0.3s;
    z-index: 1;

    &:hover {
      opacity: 1;
    }

    &::before {
      display: inline-block;
      position: absolute;
      opacity: 1;
      content: '';
      border: $b solid transparent;
      // border-radius: $b;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .slick-prev {
    left: -10px;

    &::before {
      left: 0;
      border-right: $b solid $mainColor;
    }
  }

  .slick-next {
    right: 5px;

    &::before {
      right: 0;
      border-left: $b solid $mainColor;
    }
  }

  .slick-disabled {
    opacity: 0;

    &:hover {
      opacity: 0.4;
    }
  }
}