.popap {
  &-window {
    position: fixed;
    top: 1rem;
    opacity: 0;
    animation: showInOut 1 ease-in-out;
    &:hover {
      animation-play-state: paused;
    }
  }
  &-container {
    background-color: #fff;
    box-shadow: 0 0 8px #ddd;
    font-size: 0.9em;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    text-align: center;
    &.error {
      color: rgb(233, 19, 19);
    }
    &.success {
      color: rgb(22, 151, 10);
    }
  }
}

@keyframes showInOut {
  from {right: -100%; opacity: 0;}
  25% {right: 0; opacity: 0.5; transform: translateX(-50%)}
  35% {right: 1rem; opacity: 1; transform: translateX(0)}
  75% {right: 1rem; opacity: 1; transform: translateX(0)}
  85% {right: 0; opacity: 0.5; transform: translateX(-50%)}
  to {right: -100%; opacity: 0; transform: translateX(0)}
}